/* .course-content {
  display: flex;
  flex-direction: row; /* Ensures the children are oriented in a row */
  /* flex-wrap: wrap; /* Allows the children to wrap if necessary */
  /* justify-content: space-between; */
  /* align-items: flex-start; Aligns children to start of the container */
  /* height: calc(100vh - 60px); Decreases container height by header's height */
  /* overflow: hidden; Hides any overflow */
 
/* }  */ 

/*   
  .sidebar {
    flex: 3;
    border-right: 1px solid #ccc;
    padding-right: 20px;
  }
  
  .content {
    flex: 1.5;
    padding: 0 20px;
    background: #ccc;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .ace-editor {
    flex: 1.5;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    height: 100%;
  }
  
   */

   .course-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #333;
    color: #fff;
    height:150px;
    z-index:1;
}

.course-details {
    flex: 1;
    margin-right: 20px;
}

.course-name {
    font-size: 24px;
    font-weight: bold;
}

.course-summary {
    margin: 10px 0;
}

.course-instructor {
    color: #ddd;
}

.course-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFAF0;
  border-radius: 10px;
  overflow: hidden;
  width: 20%; 
  z-index:120;
 
}

.course-image {
  width: 100%;
  height: auto; /* maintain aspect ratio */
  object-fit: cover; /* scale the image to cover the element */
  margin-bottom:20px;
}

.course-button {
    padding: 10px;
    background-color: #29ABE2;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom:50px;
}



.course-description {
  padding: 20px;
  max-width:75%;
}

.course-topics {
  list-style-type: none;
  padding: 0;
}


.course-content {
  display: flex;
  flex-direction: row; /* Ensures the children are oriented in a row */
  flex-wrap: wrap; /* Allows the children to wrap if necessary */
  justify-content: space-between;
  align-items: flex-start; /* Aligns children to start of the container */
  height: calc(100vh - 60px); /* Decreases container height by header's height */
  overflow: hidden; /* Hides any overflow */
 
}

  
  .sidebar {
    flex: 3;
    border-right: 1px solid #ccc;
    padding-right: 20px;
  }
  
  .content {
    flex: 1.5;
    padding: 0 20px;
    background: #ccc;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .ace-editor {
    flex: 1.5;
    border-left: 1px solid #ccc;
    padding-left: 20px;
  }