::-webkit-scrollbar-track {
    background: #f1f1f1;
} 
 ::-webkit-scrollbar {
    width: 0px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    border-right: 2px solid #ccc;
    background-color: #f8f9fa; /* Light gray color */
    color: #343a40; /* Dark gray color */
   
    box-sizing: border-box; /* To include padding and border in the element's total width */
    position: relative;
  }
  
  .sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
  }
  
  .sidebar-content {
    padding-right: 10px; /* Adjust the padding as needed */
    margin-right: -10px; /* Adjust the margin as needed */
    overflow-y: auto;
    height:100vh;
    background-color: #f2f2f2;
  }
  
   
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #007bff; /* Bootstrap primary color */
  }
  
  .sidebar-topics {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar-topics li {
    padding: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    color: #007bff;
    border-radius: 5px; /* Rounds the corners of the list items */
    transition: background-color 0.3s;
  }
  
  .sidebar-topics li:hover {
    background-color: #007bff;
    color:#fff; 
  }

  .sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
  }
  
  .sidebar-content {
    padding-right: 10px; /* Adjust the padding as needed */
    margin-right: -10px; /* Adjust the margin as needed */
  }
  