.practice-ide {
    display: flex;
    justify-content: space-between; /* adds space between the two columns */
    height:100vh;
  }
  
  .practice-ide-text
   {
    flex: 1; /* makes both columns take up equal width */
   /* adds some margin around the columns */
   padding: 20px;

  }
  
  /* Apply additional styles as needed */
  
  .practice-ide-text {
    /* your styles here */
    font-size:18px;
    font-weight:500;
  }
  
  .ace-editor {
    /* your styles here */
    flex: 3;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    z-index:-1;
    max-height: 80vh; /* you can adjust based on your needs */
  }
  