.container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    justify-content: space-between;
}

.practice-ide-text{
    flex:1;
    padding:2rem;
}

.practice-ide-iframe{
    flex:3;
   
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}