/* CSS for login and register page */
.login-container, .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* this will take the full viewport height */
    font-family: Arial, sans-serif;
}

.login-form, .register-form {
    width: 300px; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-form input, .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;  /* added this line */
}

.login-form button, .register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover, .register-form button:hover {
    background-color: #0056b3;
}

.login-form label, .register-form label {
    margin-bottom: 5px;
    display: block;
}
.alert-message{
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
    
}